<p style="color: green"><%= notice %></p>

<table class="table caption-top">
  <thead>
    <tr>
      <th>Tax rate</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tax_category %>
  </tbody>
</table>
<%= link_to "Back to items", tax_categories_path, class: 'btn btn-secondary' %>
